*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
 
}

.navbar {
  background: rgb(75, 74, 74);
  padding: 12px ;
  display: flex;
   margin: auto;
   margin-top: 10px;
   
  
  .left-menu{
    display: inline;
   margin: 2px 10px;
   color: aliceblue;
   text-align: center;
   
   
  }

}
.right-menu .signup-btn {
  padding: 5px ;
  background:rgb(10, 214, 102) ;
  color: white;
  border-radius: 5px;
   margin-left: 890px;
   
}
.right-menu .login-btn {
  padding: 5px ;
  background:rgb(10, 214, 102) ;
  color: white;
  border-radius: 5px;  
  
   
}
.logo{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
h4{
    color: darkgreen;
    margin-top: 20px;
    margin-left: 100px;
    
}
.fruit{
    margin-left: 100px;
      
}
.Flower{
        margin-left: 100px;
}
th{
    text-align: left;
    background-color: aqua;
}
table{

    margin-top: 40px;
    border:  2px solid darkcyan;
    margin: auto;
width: 700px;
height: 200px;
padding: 15px;


}
tr, td{
    width:10%;
   
}
 table,th, td{
    padding: 5px;
    border-collapse: collapse;

}
iframe{
    margin: auto;
}



